.header 
    .header__wrapper 
        .logo
            img(src=require("./Logo.svg").default, alt="logo")
        ul.nav
            li.nav__item
                a.nav__link.nav__link--active(href="/") О нас 
            li.nav__item
                a.nav__link(href="/") Услуги
                    .nav__more
                        img.nav__icon(src=require("./expand_more.svg").default, alt="more")
            li.nav__item
                a.nav__link(href="/") Вакансии
            li.nav__item
                a.nav__link(href="/") Новости
            li.nav__item
                a.nav__link(href="/") Соглашение