.header 
    .header__wrapper 
        .logo
            img(src=require("./Logo.svg").default, alt="logo")
        ul.nav
            li.nav__item
                a(href="/").nav__item-link Home 
            li.nav__item
                a(href="/").nav__item-link Tv shows 
            li.nav__item
                a(href="/").nav__item-link Movies
            li.nav__item
                a(href="/").nav__item-link Series 
        ul.user-nav 
            li.user-nav__item 
                a(href='/').user-nav__link 
                    i.bx.bxs-user
            li.user-nav__item 
                a(href='/').user-nav__link H
            li.user-nav__item 
                a(href='/').user-nav__link H